<__trans_section component="TwitterBot">
<$mt:setvar name="page_title" value="<__trans phrase="Tweet">"$>

<mt:setvarblock name="system_msg">
    <div id="msg-container">
    <mt:if name="saved_deleted">
        <mtapp:statusmsg
            id="saved-deleted"
            class="success">
                <__trans phrase="The tweet has been deleted from the database.">
        </mtapp:statusmsg>
    </mt:if>
    </div>
</mt:setvarblock>

<mt:setvarblock name="related_content">
    <$mtapp:PageActions from="$mode"$>
</mt:setvarblock>

<mt:setvarblock name="html_body_footer">
    <$mt:include name="include/display_options.tmpl"$>
</mt:setvarblock>

<mt:setvarblock name="html_head" append="1">
<script type="text/javascript">
/* <![CDATA[ */
function enableFilterButton() {
    jQuery('#filter-button').css('display', 'inline');
}

function toggleFilter() {
    if (jQuery('#filter-title').toggle().css('display') == 'none') {
        <mt:unless name="filter">setFilterCol('class');</mt:unless>
    }
    jQuery('#filter-select').toggle();
}

function setFilterCol(choice) {
    if (!jQuery('#filter-select').length) return;
    if (choice != 'none') {
        jQuery('#filter-select span').not('.buttons').hide();
        jQuery('#filter-'+choice).show().addClass('filter-'+choice);
        jQuery('#filter-col').val(choice);
        jQuery('#filter-text-col').html('<strong>'+jQuery('#filter-col option:selected').text()+'</strong>');
    }
}

var tableSelect;
function init() {
    tableSelect = new TC.TableSelect( "tweet-listing-table" );
    tableSelect.rowSelect = true;

    setFilterCol(<mt:if name="filter">'<mt:var name="filter" escape="js">'<mt:else>'none'</mt:if>);<mt:if name="filter">
    setFilterVal('<mt:var name="filter_val" escape="js">');</mt:if>
}
/* ]]> */
</script>
</mt:setvarblock>

<mt:setvarblock name="list_filter_form">
<form id="filter-form" method="get" action="<mt:var name="mt_url">">
    <input type="hidden" name="__mode" value="list_<$mt:var name="object_type"$>" />
        <mt:if name="blog_id">
    <input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
        </mt:if>
    <input id="filter" type="hidden" name="filter" value="" />
    <input id="filter_val" type="hidden" name="filter_val" value="" />
</form>
<div class="listing-filter">
    <div class="listing-filter-inner inner pkg">
        <form id="filter-select-form" method="get" action="<mt:var name="mt_url">" onsubmit="return execFilter(this)">
            <div class="filter">
                <div id="filter-title">
    <mt:if name="filter_key">
                <strong><__trans phrase="Showing only: [_1]" params="<mt:var name="filter_label">"></strong>
                <a class="filter-link" href="<mt:var name="script_url">?__mode=<mt:var name="mode" escape="url"><mt:if name="blog_id">&amp;blog_id=<mt:var name="blog_id"></mt:if>">[ <__trans phrase="Remove filter"> ]</a>
    <mt:else>
        <mt:unless name="filter">
                        <strong><__trans phrase="All [_1]" params="<$mt:var name="object_label_plural"$>"></strong>
                        <a href="javascript:void(0)" onclick="toggleFilter()" class="filter-link">[ <__trans phrase="change"> ]</a>
        <mt:else>
                        <strong><a href="javascript:void(0)" onclick="toggleFilter()"><__trans phrase="[_1] where [_2] is [_3]" params='<$mt:var name="object_label_plural"$>%%<span id="filter-text-col">&nbsp;</span>%%<span id="filter-text-val"></span>'></a></strong>
                        <a class="filter-link" href="<mt:var name="script_url">?__mode=<mt:var name="mode" escape="url"><mt:if name="blog_id">&amp;blog_id=<mt:var name="blog_id"></mt:if><mt:if name="is_power_edit">&amp;is_power_edit=1</mt:if>">[ <__trans phrase="Remove filter"> ]</a>
        </mt:unless>
    </mt:if>
                </div>
                <div id="filter-select" style="display: none">
                    <__trans phrase="Show only tweets where">
                    <!-- filter form starts -->
                        <select id="filter-col" name="filter" onchange="setFilterCol(this.options[this.selectedIndex].value);enableFilterButton()">
                            <option value="day_of_week"><__trans phrase="Day of week"></option>
                            <option value="timezone"><__trans phrase="Timezone"></option>
                        </select>
                    <__trans phrase="is">
                    <span id="filter-day_of_week" style="display: inline">
                        <select id="day_of_week-val" name="filter_val" onchange="enableFilterButton()">
                            <option value="0"<mt:if name="day_of_week" eq="0"> selected="selected"</mt:if>><__trans phrase="Sunday"></option>
                            <option value="1"<mt:if name="day_of_week" eq="1"> selected="selected"</mt:if>><__trans phrase="Monday"></option>
                            <option value="2"<mt:if name="day_of_week" eq="2"> selected="selected"</mt:if>><__trans phrase="Tuesday"></option>
                            <option value="3"<mt:if name="day_of_week" eq="3"> selected="selected"</mt:if>><__trans phrase="Wednesday"></option>
                            <option value="4"<mt:if name="day_of_week" eq="4"> selected="selected"</mt:if>><__trans phrase="Thursday"></option>
                            <option value="5"<mt:if name="day_of_week" eq="5"> selected="selected"</mt:if>><__trans phrase="Friday"></option>
                            <option value="6"<mt:if name="day_of_week" eq="6"> selected="selected"</mt:if>><__trans phrase="Saturday"></option>
                            <option value="DEFAULT"<mt:if name="day_of_week" eq="DEFAULT"> selected="selected"</mt:if>><__trans phrase="Default"></option>
                        </select>
                    </span>
                    <span id="filter-timezone" style="display: none">
                        <select id="timezone-val" name="filter_val" onchange="enableFilterButton()">
                            <option value="0"<mt:if name="timezone" eq="0"> selected="selected"</mt:if>><__trans phrase="0:00 - 1:00"></option>
                            <option value="1"<mt:if name="timezone" eq="1"> selected="selected"</mt:if>><__trans phrase="1:00 - 2:00"></option>
                            <option value="2"<mt:if name="timezone" eq="2"> selected="selected"</mt:if>><__trans phrase="2:00 - 3:00"></option>
                            <option value="3"<mt:if name="timezone" eq="3"> selected="selected"</mt:if>><__trans phrase="3:00 - 4:00"></option>
                            <option value="4"<mt:if name="timezone" eq="4"> selected="selected"</mt:if>><__trans phrase="4:00 - 5:00"></option>
                            <option value="5"<mt:if name="timezone" eq="5"> selected="selected"</mt:if>><__trans phrase="5:00 - 6:00"></option>
                            <option value="6"<mt:if name="timezone" eq="6"> selected="selected"</mt:if>><__trans phrase="6:00 - 7:00"></option>
                            <option value="7"<mt:if name="timezone" eq="7"> selected="selected"</mt:if>><__trans phrase="7:00 - 8:00"></option>
                            <option value="8"<mt:if name="timezone" eq="8"> selected="selected"</mt:if>><__trans phrase="8:00 - 9:00"></option>
                            <option value="9"<mt:if name="timezone" eq="9"> selected="selected"</mt:if>><__trans phrase="9:00 - 10:00"></option>
                            <option value="10"<mt:if name="timezone" eq="10"> selected="selected"</mt:if>><__trans phrase="10:00 - 11:00"></option>
                            <option value="11"<mt:if name="timezone" eq="11"> selected="selected"</mt:if>><__trans phrase="11:00 - 12:00"></option>
                            <option value="12"<mt:if name="timezone" eq="12"> selected="selected"</mt:if>><__trans phrase="12:00 - 13:00"></option>
                            <option value="13"<mt:if name="timezone" eq="13"> selected="selected"</mt:if>><__trans phrase="13:00 - 14:00"></option>
                            <option value="14"<mt:if name="timezone" eq="14"> selected="selected"</mt:if>><__trans phrase="14:00 - 15:00"></option>
                            <option value="15"<mt:if name="timezone" eq="15"> selected="selected"</mt:if>><__trans phrase="15:00 - 16:00"></option>
                            <option value="16"<mt:if name="timezone" eq="16"> selected="selected"</mt:if>><__trans phrase="16:00 - 17:00"></option>
                            <option value="17"<mt:if name="timezone" eq="17"> selected="selected"</mt:if>><__trans phrase="17:00 - 18:00"></option>
                            <option value="18"<mt:if name="timezone" eq="18"> selected="selected"</mt:if>><__trans phrase="18:00 - 19:00"></option>
                            <option value="19"<mt:if name="timezone" eq="19"> selected="selected"</mt:if>><__trans phrase="19:00 - 20:00"></option>
                            <option value="20"<mt:if name="timezone" eq="20"> selected="selected"</mt:if>><__trans phrase="20:00 - 21:00"></option>
                            <option value="21"<mt:if name="timezone" eq="21"> selected="selected"</mt:if>><__trans phrase="21:00 - 22:00"></option>
                            <option value="22"<mt:if name="timezone" eq="22"> selected="selected"</mt:if>><__trans phrase="22:00 - 23:00"></option>
                            <option value="23"<mt:if name="timezone" eq="23"> selected="selected"</mt:if>><__trans phrase="23:00 - 24:00"></option>
                            <option value="DEFAULT"<mt:if name="timezone" eq="DEFAULT"> selected="selected"</mt:if>><__trans phrase="Default"></option>
                        </select>
                    </span>
                    <!-- filter form ends -->
                    <span class="buttons">
                        <button
                            id="filter-button"
                            onclick="return execFilter(getByID('filter-select-form'))"
                            type="submit"
                            ><__trans phrase="Filter"></button>
                        <button href="javascript:void(0)"
                            onclick="toggleFilter(); return false;"
                            type="submit"
                            ><__trans phrase="Cancel"></button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
</mt:setvarblock>

<$mt:include name="include/header.tmpl" id="header_include"$>
<$mt:var name="list_filter_form"$>
<$mt:include name="include/tweet_table.tmpl"$>
<mt:setvarblock name="jq_js_include" append="1">
    init();
    jQuery.mtCheckbox();

    jQuery('button.mt-<mt:var name="form_id">-action').mtDoPluginAction({
        id: '<mt:var name="form_id">',
        plural: '<mt:if name="object_label_plural"><mt:var name="object_label_plural" escape="js"></mt:if>',
        phrase: '<__trans phrase="to act upon" escape="js">'
    });
</mt:setvarblock>
<$mt:include name="include/footer.tmpl"$>
</__trans_section>